/*Red: #cd183b  */

/*------------------------------------------------/
/* MISC CODES */

.whiteTXT{
  color: #ffffff;
}

.noPadding{
  padding: 0px;
}

.vh{
  height: 100vh;
}

p{
  margin: 0;
}

@font-face {
font-family: "Steelfish-online";
src: url("fonts/steelfish/steelfishrg-webfont.eot");
src:
url("fonts/steelfish/steelfishrg-webfont.woff") format("woff"),
url("fonts/steelfish/steelfishrg-webfont.svg") format("svg"),
url("fonts/steelfish/steelfishrg-webfont.ttf") format("true type"),
url("fonts/steelfish/steelfishrg-webfont.woff2") format("woff2");
}

@font-face {
font-family: "garamond-online";
src: url("fonts/garamond/ebgaramond-regular-webfont.eot");
src:
url("fonts/garamond/ebgaramond-regular-webfont.woff") format("woff"),
url("fonts/garamond/ebgaramond-regular-webfont.svg") format("svg"),
url("fonts/garamond/EBGaramond-Regular.ttf") format("true type");
}

body{
  font-family: 'Steelfish-online', 'Arial Narrow', Arial, sans-serif;
}

p, q{
  font-family: "garamond-online";
  font-size: 18px;
}

h2{
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 1px;
}

button{
  background-color: #cd183b ;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;

}
/*-------------------------------------------------------/
/* NAV BAR */

/* remove spacing at bottom */
nav.navbar.navbar-inverse{
  margin-bottom: 0;
}

/*span bars */
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #ffffff;
}

/*icon box*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-toggle{
  border-color: transparent;
}

.transparentNav{
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.purpleNav{
  background-color: #44318d;
  border-color: #44318d;
}

  #brand{
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1px;
  }

  ul.nav.navbar-nav li a{
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 1px;
  }

  .active{
    color: #000000 !important;
  }

/*------------------------------------------------------------/
/* LANDING */

#landing{
  /*background: url("sixhulahoop.jpg") no-repeat center;*/
  background-size: cover;
  position: relative;
  border-bottom: 15px solid #44318d;
}

#myVideo {
  width: 100%;
  display: flex;
  height: 100vh;
  object-fit: cover
}

#vidControl {
  position: absolute;
  left: 31%;
  top: 85%;
  height: 50px;
  width: 150px;
  border: 4px solid #d83f87;
  color: none;
  color: clear;
  background-color: rgba(216,63,135, 0.7);
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

span{
  display: block;
}


/*------------------------------------------------------------/
/* ABOUT */

.boxA{
  display: none;
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #44318d;
  opacity: 0.2;
}

img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#pastperformances{
  padding-top: 60px;
  padding-bottom: 60px;
}

#aboutme{
  padding-top: 60px;
  padding-bottom: 60px;
}

.flexContain{
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100%;
}

.boxB{
  order: 1;
}

.boxA{
  order: 2;
}

/*------------------------------------------------------------/
/* CONTACT */

#review{
  background-color: #44318d;
}

#reviews{
  padding-top: 60px;
  padding-bottom: 60px;
}

#contact{
  padding-top: 60px;
  padding-bottom: 60px;
}

form{
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
}

input{
  width: 100%;
  height:auto;
  margin-bottom: 2.5%;
  height: 30px;
  padding-left: 20px;
  background-color: #44318d;
  color: #ffffff;
  letter-spacing: 1px;
  font-family:"garamond-online";
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}


textarea{
  width: 100%;
  margin-bottom: 2.5%;
  padding-left: 20px;
  background-color: #44318d;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "garamond-online";
}

.submit{
  width: 110px;
  height: 28px;
  background-color: #44318d;
  color: #ffffff;
}

button.btn.btn-default {
  background-color: #44318d;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
}


/*------------------------------------------------------------/
/* services */

#heroImg img{
  height: 60vh;
  object-fit: cover;
}

#menu{
  padding-top: 60px;
  padding-bottom: 60px;
}

/*------------------------------------------------------------/
/* FOOTER */

#footerA{
  background: #44318d;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footerB{
  background: #2a1b3d;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social{

  height: 40px;
  width: 40px;
}

/*----------------------------------------------------------/
/* TABLETS */
@media screen and (min-width: 480px){

  /*NAV*/
  ul.nav.navbar-nav{
    float: right;
  }


  /*CONTACT*/
  input{
    width: 47.5%;
  }

  .L{
    margin-right: 2.5%;
  }

  textarea{
    width: 98%;
  }

  /*FOOTER */
  .social{
    height: 60px;
    width: 60px;
  }

  /* MEDIA */
  .modal {
    padding-top: 30%;
  }

  .close {
    font-size: 30px;
  }

  @media only screen and (min-width: 750px){
    #vidControl{
      left: 40%;
    }

  }
/*------------------------------------------------------/
/* Desktop */
@media only screen and (min-width: 780px){

p{
  font-size: 18px;
}
/*LANDING*/

  #myVideo{
    object-fit: 0;
    height: 100%;
  }

  #vidControl{
    left: 44%;
  }

  span{
    display: inline-block;
  }

  .boxA{
    display: block;
  }


  h2{
    font-size: 50px;
  }

  /* ABOUT */
  #pastperformances{

    padding-top: 80px;
  }

  #aboutme{
    padding-top: 80px;
  }


  .box{
    width: 50%;
    height: 50vh;
  }

  .boxB{
    order: 2;
  }

  .boxA{
    order: 1;
  }

  /*SERVICES*/
  #heroImg img{

    height: 70vh;

  }

  /* MEDIA */
  .modal {
    padding-top: 10%;
  }

  .close {
    font-size: 35px;

}

}


@media only screen and (min-width: 1000px){
  #vidControl{
    left: 45%;
  }
}

/*-------------------------------------------------------/
/* IPAD PRO */
/*@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px)
and (min-device-height : 1366px) and (max-device-height : 1366px)
and (min-width: 1024px) and (max-width: 1024px)
{
 
  p{
    font-size: 14px;
  }

  #aboutme{
    padding: 5px;
  }

  #vidControl{
    left: 44%;
  }


  /* ABOUT */
  .box{
    height: 50vh;

  }

  .box img{
    height: 100%;
  }

  /* SERVICES */
  #heroImg img{
    height: 50vh;

  }

  /* MEDIA */
  .modal {
    padding-top: 30%;
  }
}